span {
  text-align: left;
  top: 0px;
  left: 0px;
  font-size: 20px;
  color: rgb(10, 10, 10, 0.7);
  font-family: 'Bitter', serif;
}

.btn {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.left {
  /* width: 50%; */
  float: left;
  padding: 5;
  margin: 50px;
}
.right {
  /* width: 50%; */
  float: right;
  padding: 20px;
  margin: 50px;
}
#display {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 49px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 20px;
}

#deposit {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 27px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 20px;
}
#transfer {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 41px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 20px;
}
